body {
    width: 500px;
    margin: 4% auto;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
/*-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none; */
  }
  
  .calculator {
    padding: 20px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
  }
  
  .input {
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 8px;
    font-size: 2.5rem;
    overflow-x: auto;
    transition: all .2s ease-in-out;
  }
  
  .input:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  
  .buttons {
font-size: 30px;
  }
  
  .operators {
font-size: 30px;
  }
  
  .operators div {
    display: inline-block;
    border: 1px solid rgb(12, 119, 138);
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: rgb(172, 96, 125);
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  }
  
  .operators div:hover {
    background-color: rgb(88, 161, 100);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: rgb(83, 21, 21);
  }
  
  .operators div:active {
    font-weight: bold;
  }
  
  .leftPanel {
    display: inline-block;
  }
  
  .numbers div {
    display: inline-block;
    border: 1px solid rgb(170, 168, 43);
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #1e6470;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  }
  
  .numbers div:hover {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
  }
  
  .numbers div:active {
    font-weight: bold;
  }
  
  div.equal {
    display: inline-block;
    border: 1px solid #f82525;
    border-radius: 1px;
    width: 17%;
    text-align: center;
    padding: 127px 10px;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: black;
    background-color: #feb74d;
    transition: all .2s ease-in-out;
  }
  
  div.equal:hover {
    background-color: #6b1460;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #6b1460;
  }
  
  div.equal:active {
    font-weight: bold;
  }